<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="CountryNow: Provides geo location, population and general information about countries and cities (in simple JSON response)">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="facebook-domain-verification" content="4td0dqdwf7nbgcvu3z97cadynjp45o" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/img/1.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VFH4Y8KFMP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VFH4Y8KFMP');
    </script>
  </head>
  <body>
    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
    <script src="/js/renderjson.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
